/* ==========================================================================
   Pablo R. Mier default personal web page skin
   ========================================================================== */

/* Colors */
$link-color: #8d0f45 !default;
$primary-color: #660b32 !default;

/* solarized light syntax highlighting (base16) */
$base00: #fafafa !default;
$base01: #073642 !default;
$base02: #586e75 !default;
$base03: #657b83 !default;
$base04: #839496 !default;
$base05: #586e75 !default;
$base06: #eee8d5 !default;
$base07: #fdf6e3 !default;
$base08: #dc322f !default;
$base09: #af1156 !default;
$base0a: #b58900 !default;
$base0b: #859900 !default;
$base0c: #2aa198 !default;
$base0d: #268bd2 !default;
$base0e: #6c71c4 !default;
$base0f: #d33682 !default;

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* Sidebar avatar size */
.author__avatar img {
    max-width: 200px !important;
}

.page__footer {
  background-color: transparent !important;
}

.page__footer-copyright {
  text-align: center;
}
